@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--my-gray);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

* {
  box-sizing: border-box;
}

body {
  --my-black: #1A1A1D;
  --my-gray: #4E4E50;
  --my-red1: #6F2232;
  --my-red2: #950740;
  --my-red3: #C3073F;
  background: var(--my-black);
  background-attachment: fixed;
}

:root {
  margin: 0;
  padding: 0;
  border: none;
  border-style: none;
  font-family: 'Cabin', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}