@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  border: none;
  border-style: none;
  font-family: 'Cabin', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}