body {
    --my-white: #FAF9F6;
    --my-black: #1A1A1D;
    --my-gray: #4E4E50;
    --my-red1: #6F2232;
    --my-red2: #950740;
    --my-red3: #C3073F;
    background: var(--my-black);
    --accent: var(--my-red3);
}

html {
    scroll-snap-type: y mandatory;
}

section {
    perspective: 500px;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer {
    background-image: url('../assets/spacer.svg');
}

.layer0 {
    background-image: url('../assets/spacer-0.svg');
}

.layer1 {
    background-image: url('../assets/spacer-1.svg');
}

.layer2 {
    background-image: url('../assets/spacer-2.svg');
}

.layer3 {
    background-image: url('../assets/spacer-3.svg');
}

.layer4 {
    background-image: url('../assets/spacer-4.svg');
}